@import "normalize.scss";

// === mixins ===
@mixin open-sans-font {
  font-family: "Open Sans", sans-serif;
}

@mixin montserrat-font {
  font-family: "Montserrat", sans-serif;
}

@mixin button {
  @include montserrat-font;
  display: block;
  color: #fff;
  background: #e24c2c;
  cursor: pointer;
  border-radius: 7px;
  width: 260px;
  height: 60px;
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
  padding: 20px 85px;
  text-decoration: none;

  &:hover {
    background: #f44902;
  }
}

// === variables ===
$dark-grey: #333;
$light-grey: #646464;
$green: #3d8f85;

// === common styles ===
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-inner {
  width: 75%;
  margin: 0 auto;
}

// === section-header ===
.section-header {
  height: 85px;
  box-shadow: 0px 3px 20px #0000001a;

  &__logo {
    width: 135px;
    height: 25px;
  }

  &__link {
    @include montserrat-font;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    color: $green;
    text-decoration: none;
    border-bottom: 2px solid $green;

    &.form {
      display: none;
    }
  }

  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

// === section-title ===
.section-title {
  max-width: 920px;
  margin: 40px auto 50px;

  &__header {
    @include open-sans-font;
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.52px;
    text-align: center;
    color: $dark-grey;
  }
}

// === section-plans ===
.section-plans {
  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    @include open-sans-font;
    width: 350px;
    border: 1px solid #d4d9e6;
    border-radius: 7px;
    text-align: center;

    &_header {
      background: $green;
      color: #fff;
      font-weight: bold;

      &-title {
        font-size: 24px;
        line-height: 41px;
        letter-spacing: 0.72px;
        padding: 10px 0 5px;
      }

      &-time {
        font-size: 21px;
        line-height: 29px;
        font-weight: bold;
        opacity: 0.7;
        letter-spacing: 0.42px;
        padding-bottom: 15px;
      }
    }

    &_icon {
      margin-top: 5px;
    }

    &_title {
      font-size: 18px;
      line-height: 28px;
      font-weight: bold;
      color: $light-grey;
      margin: 15px 0 10px;
    }

    &_subtitle {
      font-size: 11px;
      line-height: 17px;
      color: $light-grey;
    }

    &_price {
      @include montserrat-font;
      font-size: 32px;
      line-height: 39px;
      font-weight: bold;
      color: $green;

      .postfix {
        @include open-sans-font;
        font-size: 13px;
        line-height: 20px;
        color: $light-grey;
        font-weight: normal;
        position: relative;
        right: 7px;
        bottom: 2px;
      }
    }

    &_description {
      font-size: 13px;
      line-height: 20px;
      color: $light-grey;
      width: 225px;
      margin: 15px auto 35px;
    }

    &_button {
      @include button;
      margin: 0 auto 50px;
    }

    &.trial {
      border: 2px solid $green;
    }

    &.annual {
      padding-top: 106px;

      .section-plans__item_price {
        margin-top: 27px;
      }
    }
  }

  &__info {
    @include open-sans-font;
    width: 350px;
    // flex: 1 1 350px;
    position: relative;
    top: 0;
    left: 0;

    &-banner_image {
      position: relative;
      top: 0;
      left: -30px;
    }

    &-banner_text {
      position: absolute;
      top: 15px;
      left: 45px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }

    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      color: $light-grey;
      margin: 5px 0 12px;
    }

    &-list {
      &_item {
        font-size: 16px;
        line-height: 40px;
        color: $dark-grey;
        list-style: none;
        position: relative;
      }

      &_item::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        display: inline-block;
        background: url(../assets/down-arrow.png) no-repeat;
        top: 15px;
        left: -20px;
      }
    }
  }
}

// === section-comments ===
.section-comments__list {
  display: flex;

  &-item {
    display: flex;
    @include open-sans-font;
    margin-top: 40px;

    &_logo {
      flex: 0 0 80px;
      height: 80px;
      margin-right: 20px;

      .image {
        max-width: 100%;
        height: auto;
      }
    }

    &_comment {
      &-author {
        font-size: 18px;
        line-height: 28px;
        color: $dark-grey;
        font-weight: 600;
        margin-bottom: 10px;
      }

      &-text {
        font-size: 15px;
        line-height: 25px;
        color: $light-grey;
        letter-spacing: 0.3px;
        padding-right: 30px;
      }
    }
  }
}

// === section-footer ===
.section-footer {
  background: #2a1818;
  height: 156px;
  margin-top: 70px;

  .top-section {
    height: 85px;
    position: relative;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  }

  &__links {
    position: absolute;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .link {
      @include open-sans-font;
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      opacity: 0.8;
    }

    .link + .link::before {
      content: "|";
      font-size: 15px;
      padding: 0 40px;
      margin: 0;
    }

    .link:hover {
      opacity: 1;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .bottom-section {
    @include open-sans-font;
    color: #fff;
    opacity: 0.4;
    font-size: 13px;
    line-height: 71px;
    text-align: center;
  }
}

// === Form page ===
.section-plans {
  &.form-page {
    .annual {
      display: none;
    }
  }

  .form-wrapper {
    margin-right: 40px;
    max-width: 700px;

    .section-plans__item_header {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    .section-plans__item {
      width: 100%;

      &_header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 7px 15px;

        &-title {
          font-size: 18px;
          line-height: 24px;
          padding: 0;
        }

        &-time {
          font-size: 16px;
          padding: 0;
        }
      }

      &_title {
        font-size: 16px;
        line-height: 25px;
        margin: 0;
      }

      &_subtitle {
        font-size: 9px;
        line-height: 14px;
        display: inline-block;
      }

      &_price {
        font-size: 16px;
        line-height: 23px;
        padding-left: 15px;
        display: inline-block;
      }

      &_description {
        font-size: 10px;
        line-height: 14px;
        margin: 5px 0 0;
      }

      &_button {
        @include montserrat-font;
        display: block;
        color: $green;
        cursor: pointer;
        background: #fff;
        border: 2px solid $green;
        border-radius: 7px;
        width: 118px;
        height: 37px;
        font-size: 13px;
        line-height: 35px;
        font-weight: bold;
        padding: 0;
        margin: 0 40px 0 0;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          background: $green;
          color: #fff;
        }
      }

      .about {
        text-align: left;
        width: 190px;
        margin-left: 20px;
      }

      .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 15px;

        .plan-description {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.section-cards {
  width: 470px;
  height: 30px;
  margin: 15px 0 20px;
  background: url("../assets/payments.png") center no-repeat;
}

.section-form {
  @include open-sans-font;
  color: $dark-grey;
  display: flex;
  flex-wrap: wrap;

  .input,
  .select {
    padding: 10px;
    width: 250px;
    height: 40px;
    border: 1px solid #d4d9e6;
    border-radius: 7px;
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px;
    color: #b6b6b6;
  }

  .label {
    font-size: 10px;
    line-height: 14px;
  }

  .card-number,
  .exp-month,
  .exp-year,
  .fname,
  .lname {
    margin-bottom: 15px;
  }

  .exp-month {
    .input {
      width: 130px;
    }
  }

  .exp-year {
    position: relative;
    margin-left: 10px;

    .select {
      width: 100px;
      background: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url("../assets/arrow-down.png") no-repeat right;
    }

    &::before {
      content: "/";
      bottom: 5px;
      left: -13px;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      line-height: 28px;
    }
  }

  .secure-info {
    .confirm-btn {
      @include montserrat-font;
      display: inline-block;
      color: #fff;
      background: #e24c2c;
      cursor: pointer;
      border-radius: 7px;
      width: 127px;
      height: 40px;
      font-size: 15px;
      line-height: 19px;
      font-weight: bold;
      padding: 10px 30px;
      text-decoration: none;
      opacity: 0.5;
      margin-right: 15px;
    }

    .description {
      font-size: 11px;
      line-height: 17px;
      color: #b6b6b6;

      &::before {
        content: "";
        background: url("../assets/safe.png") no-repeat;
        width: 15px;
        height: 14px;
        display: inline-block;
      }
    }
  }
}

.terms-and-conditions {
  @include open-sans-font;
  font-size: 10px;
  line-height: 15px;
  color: #585858;
  width: 400px;
  margin-top: 10px;
}
